
html{
    border-style:groove;
    border-color: black;
    margin: 20px;
    background-color:antiquewhite;
}

h1{
    text-align: center;
    background-color: rgb(80, 242, 253);
}

p{

    line-height: 30px;
    text: justify 20px;
    font-size: 20px;
   text-align: justify;
}


.conteiner2{line-height: 24px;
text: justify 20px;
font-size: 20px;
column-count: 2

}

.conteiner2 > img{
    margin-left: 30px;
    margin-block-end: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
    
}

img{
    border-color: black;
    border-style: groove;
}

.conteiner1{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;

}

.conteiner1{
    display: flex; 
}


.conteiner1{
    display: contents;
    justify-content: left;
}

